<div class="contents">
  <p>user search</p>
  <%= form_tag(users_path, :method => 'get' ) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', class: 'btn', :name => nil %>
  <% end %>
  <%= paginate(@users) %>
  <% @users.each do |user| %>
    <ul class="users">
      <li class="users_name">
        <a href="/users/<%= user.id %>"><%= user.nickname %></a>
      </li>
    </ul>
  <% end %>
</div>

